<div id="<%= dom_id equipment %>">
  <p>
    <strong>Name:</strong>
    <%= equipment.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= equipment.equipment_type %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= equipment.model %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= equipment.description %>
  </p>

</div>
