<div id="<%= dom_id operation %>">
  <p>
    <strong>Name:</strong>
    <%= operation.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= operation.code %>
  </p>

  <p>
    <strong>Last check:</strong>
    <%= operation.last_check %>
  </p>

  <p>
    <strong>Next check:</strong>
    <%= operation.next_check %>
  </p>

  <p>
    <strong>Equipment:</strong>
    <%= operation.equipment_id %>
  </p>

</div>
